//textbox

.product,
.new, .new-other {
    &__wrap {
        margin-top: 50px;
        position: relative;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            &::before {
                display: none;
            }
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color: #d7d7d7;
        }
    }
    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        &-title {
            display: flex;
            .number {
                @include text(90px, er, 76px, $cl-num, uppercase);
            }
            .des {
                max-width: 430px;
                margin-left: 25px;
                h3 {
                    @include text(18px, er, 30px, $cl-dark, uppercase);
                }
            }
        }
        @include xs {
            display: block;
            &-title {
                .number {
                    font-size: 34px;
                    line-height: 34px;
                }
                .des {
                    max-width: initial;
                }
            }
        }
        .btn-detail {
            margin-top: 20px;
        }
    }
    .row {
        padding: 40px 0 50px 0;
        position: relative;
        @include sm {
            .show-more {
                width: 60px;
                height: 60px;
            }
        }
    }
    &__item {
        width: calc(100% / 3);
        &-header {
            border-right: 1px solid #d7d7d7;
            padding: 0 15px;
            .img-product , .img-new{
                height: 0;
                position: relative;
                overflow: hidden;
                padding-bottom: 120%;
                margin-bottom: 25px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include mid(false);
                }
            }
            .img-new {
                padding-bottom: 70%;
            }
            a {
                text-decoration: none;
                h4 {
                    @include text(18px, $font-main, normal, $cl-dark, normal);
                    @include transition($t);
                }
                &:hover {
                    h4 {
                        color: rgba(0, 0, 0, 0.705);
                        @include transition($t);
                    }
                }
            }
            .price {
                margin: 25px 0;
                @include text(12px, $font-main, normal, $cl-dark, uppercase);
                span {
                    padding: 0 10px;
                }
            }
            .des {
                height: 72px;
                @include overtext(3);
                padding: 20px 0 20px 0;
                @include text(12px, $font-main, normal, $cl-dark, normal);
            }
            &.--no-boder{
                border: none;
            }
        }
        &-body {
            padding: 0 15px;
        }
        &:nth-child(3) {
            .product__item-header,
            .product__item-header {
                border: none;
            }
        }

        &.--hover-item {
            @include transition($t);
            .new__item-header {
                margin: 0 15px;
                padding: 0;
                a {
                    h4 {
                        padding: 0 15px;
                        height: 42px;
                        @include overtext(2);
                    }
                }
                .des {
                    height: 72px;
                    @include overtext(3);
                    padding: 15px;
                    @include text(12px, $font-main, normal, $cl-dark, normal);
                }
            }
            .new__item-body {
                margin: 0 15px;
                padding: 0;
                padding-bottom: 15px;
                .btn-detail {
                    margin: 0 15px;
                }
            }
            &:hover {
                padding: 0;
                @include transition($t);
                .new__item-header {
                    background-color: $cl-yellow;
                    @include transition($t);
                    a {
                        h4 {
                            @include transition($t);
                            color: $cl-light;
                        }
                    }
                    .des {
                        @include transition($t);
                        color: $cl-light;
                    }
                }
                .new__item-body {
                    @include transition($t);
                    background-color: $cl-yellow;
                    a {
                        @include transition($t);
                        color: $cl-light;
                        svg {
                            path {
                                @include transition($t);
                                fill: $cl-light;
                            }
                        }
                    }
                }
            }
        }
        @include xs {
            width: 100%;
            margin-bottom: 30px;
            &-header {
                border-right: 0;
            }
        }
    }
}
